<% layout('layout') -%>
<main class="cd-main-content">

		<div class="cd-fixed-bg cd-bg-1">
			<div class="h123">
				<h1>Daniel Nguyen</h1>
				<h2> Student. Developer. Hacker. </h2>
			</div>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-2">
			<div class="cd-container">
					<p>
					For this pen I included only the vanilla CSS and only that necessary  to demonstrate the effect but on the author's site at <a href="codyhouse.co/gem/alternate-fixed-scroll-backgrounds/">codyhouse.co</a>, the creators are using Sass which I think is nicer. But for the sake of simplicity for this example I took the easy way out. 
		          	</p>
		          	<p>
		          	As anyone who has tried knows, implementing sample code such as this into a site with a different architecture can be a little tricky but I did manage to weave it into a pre-existing project with a little work. I love the effect!
					</p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->


		<div class="cd-fixed-bg cd-bg-3"></div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-1">

			
			<div class="container">
 
				<div id="header"></div>
			 
				<div>
					<h2 align="center"> Collaboration</h2>
							<p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
				</div>
				<div ><h2 align="center"> Discipline</h2>
							<p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></div>
				<div ><h2 align="center"> Humility</h2>
							<p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></div>
			 
				<div id="footer"></div>
	 
			</div>
			
		</div> <!-- cd-scrolling-bg -->
		
		<div class="cd-scrolling-bg cd-color-4" >
			   	<div class="contact-form">
			   			<h2 >Contact</h2>

		              <form class="horizontal-form" action="http://formspree.io/danielnguyen44@gmail.com" method="POST" id="contact-form">
		              	<div class="form-group">
		              		<input type="text" class="wide" id="First" name="first" placeholder="First Name" data-validate="required">
		          		</div>
		          		<div class="form-group">
		          			<input type="text" class="wide" id="Last" name="last" placeholder="Last Name" data-validate="required">
		          		</div>
		          		<div class="form-group">
		              		<input type="text" class="wide" id="Company" name="company" placeholder="Company">
		          		</div>
		          		<div class="form-group">
		              		<input type="text" class="wide" id="Email" name="_replyto" data-validate="required,email,max(100)"placeholder="Example@Provider.com">
		          		</div>
		          		<div class="form-group">
		          			<textarea class="wide" rows="6" id="Message" name="content" placeholder="Type your message here." form="contact-form" data-validate="required"></textarea>
		          		</div>
		          		<input class="hidden" name="_subject" value="Website Contact">
		          		<input class="hidden" type="text" name="_gotcha"/>
		          		<input class="hidden" name="_next" value="redirect.html"/>
		          		<button class="submit" value="Send">Send</button>
		              </form>
		        </div>
		</div>
		
		<% include templates/footer.ejs%>
		
	</main> <!-- cd-main-content -->
	