<% layout('layout') -%>

<div class="project-header">
	<div class="cd-fixed-bg cd-bg-3">
	</div>
	<div class="phead">
		<h1>Projects</h1>
	</div>
</div>

<div id="tab-wrap">

<div id="inner-wrap">
  
		  <input id="tab1" type="radio" name="tabs" checked>
		  <label for="tab1">Personal Projects</label>
		    
		  <input id="tab2" type="radio" name="tabs">
		  <label for="tab2">Hackathon Projects</label>
		    
		  <input id="tab3" type="radio" name="tabs">
		  <label for="tab3">School Projects</label>
    
    
  <section id="content1">
	<h2>Under Construction</h2>
  </section>
    
  <section id="content2">
    
  </section>
  
  </div>

</div>

<% include templates/footer.ejs%>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>