<meta charset="utf-8">
<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="personal wensite">
<meta name="author" content="Daniel Nguyen">

<!-- styles -->
<link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- <link href="/stylesheets/style.css" rel="stylesheet">
-->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet">

<script src="/lib/jquery/jquery.min.js"></script>

<!-- Need mroe Bootstrap features? Uncomment some lines below. -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<!--
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
-->  

<!-- icon links -->
<style>
@font-face {
    font-family: ostrich;
    src: url("/stylesheets/OstrichSans-Heavy.otf") format("opentype");
}

@font-face {
    font-family: ostrichm;
    src: url("/stylesheets/OstrichSans-Medium.otf") format("opentype");
}

.circular--landscape img{
    position: relative;
    width:40%;
        margin-right: 15px;
    float:left;

}


.bigbio {
    position: relative;
    overflow: hidden;
}



.bio p {
    margin: 0;
    padding: 0;
}

.bio h2 {
    font-family: "ostrich";
    font-size: 4em;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

.navbar-fixed-top.scrolled {
  background-color: #f7f6f2 !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  max-width:100%;
  transition: all 400ms linear;
}

.navbar-fixed-top.scrolled .navbar-toggle {
    border-color:#aaaaaa; 
}

.navbar-fixed-top.scrolled .navbar-toggle .icon-bar {
    background-color: #aaaaaa;
}

.navbar-fixed-top.scrolled .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.navbar-fixed-top .navbar-right li:hover { 
    background-color:rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
}

.navbar-fixed-top.scrolled .navbar-right li:hover { 
    background-color:rgba(0, 0, 0, 0.07);

}

.navbar-fixed-top .navbar-toggle:focus, .navbar-fixed-top.scrolled .navbar-toggle:focus { 
    background-color:transparent;
    
}



.navbar-fixed-top.scrolled .navbar-toggle:hover {
    background-color: #aaaaaa;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav > li > a,.navbar-fixed-top.scrolled .navbar-header > a {
    color:black;
}


.navbar-fixed-top.scrolled .nav > li > a:hover,.navbar-fixed-top.scrolled .navbar-header > a:hover {
    border-bottom-color: #439348;
    color:#28a2ff;
    transition: all 200ms linear;
}

.navbar-fixed-top.scrolled .nav > li > a:focus,.navbar-fixed-top.scrolled .navbar-header > a:focus {
    outline: none;

}

.navbar-fixed-top .nav > li > a:focus,.navbar-fixed-top .navbar-header > a:focus {
    outline: none;

}



.navbar-fixed-top .navbar-brand:hover {
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
}

.navbar-fixed-top.scrolled .navbar-brand {
    font-size: 3em;
    color:white;
    bottom:-5px;
         -webkit-transform: translateY(7px);
  -moz-transform:  translateY(7px);
  -ms-transform:  translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
    transition: all 0.4s ease;
}



.navbar .navbar-collapse {
    border: 0;
    
}


.navbar {
    background-color: transparent;    
    font-family: "ostrich";
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
    border: 0;

    margin: 0 auto;
    max-width:95%;
    transition: all 0.4s ease;
}


.navbar-brand { 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 4em;
    color:  #d1d1d1;
    transition: all 0.4s ease;
     -webkit-transform: translateY(10px);
  -moz-transform:  translateY(10px);
  -ms-transform:  translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
} 


.navbar-nav > li{

    font-size: 1.4em;
    

}
.navbar .nav > li > a,.navbar .navbar-header > a {
    color:  #f0efef; !important

}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body, html {
  height: 100%;

}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */


.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'Droid Serif', serif;
}


.cd-fixed-bg .h123 {
    position: absolute;
    left: 50%;
    top: 42%;
    bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
    background-image: url("/images/1080laptop.jpg");
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("/images/1080laptop2.jpg");
}

.cd-fixed-bg {
    font-weight: bold;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    background-attachment: fixed;
}

@media only screen and (max-width: 480px) {
    .cd-fixed-bg h2{
    font-weight: bold;
    font-size: 1.5em;
    }
    .cd-fixed-bg h1 {
        font-weight: bold;
        font-size: 2.5em;
    }
    .navbar-brand , .navbar-fixed-top.scroll .navbar-brand{ 
            display: none;
    } 

}


@media only screen and (min-width: 480px) {
    
}

@media only screen and (max-width: 768px) {
        
    .navbar-brand , .navbar-fixed-top.scroll .navbar-brand{ 
    }         
    
    .cd-fixed-bg h2{
    font-weight: bold;
    font-size: 1.3em;
    }
    .cd-fixed-bg h1 {
        font-weight: bold;
        font-size: 4.5em;
    }
}

@media only screen and (min-width: 768px) {

        .cd-fixed-bg h2{
            font-weight: bold;
            font-size: 1.3em;
        }
        .cd-fixed-bg h1 {
            font-weight: bold;
            font-size: 6em;
            
        }
}

.cd-scrolling-bg.cd-color-4{
      position: relative;
      z-index: 2;
      background-color: #f0efef;
      margin: 0; 
}

.cd-scrolling-bg.cd-color-2, .cd-scrolling-bg.cd-color-3{
      position: relative;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      z-index: 2;
      background-color: #f2f2f2;
      margin: 0; 
}



.footer-text {
    
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #302e2d;
    text-align: center;
    z-index:3;
    color:white;
    font-size: 100%;
}

.footer-text p{
    
    padding-top: 100px;
}

svg{
  fill: #f2f2f2;

}



.links {

}

svg:hover {
    fill: #28a2ff;
    position: relative;
    transition: all 0.4s ease;
    top:-7px;
    transition-duration:  300ms;

}

a:hover{
      text-decoration: none;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;

    width:90%;
}

.container h2 {
    font-size: 2em;
    font-weight: bold;
    color:#4a4a4a;
    
}

.container p {
    color:#4a4a4a;
    
}

.container:after { /*clear float*/
    content: "";

    display: table;
    clear: both;
}
.container > div {
    float: left;
    width: 33.33%;

    line-height: 1.8;
}

.container .header {
    color:#4a4a4a;
}


@media (max-width: 1000px) { /*breakpoint*/
    .container > div {
        float: none;
        width: 100%;
        line-height: 1.8;
    }
    
}

input , textarea{
    width:500px;
}

 .contact-form {
    padding-top: 20px;
    padding-bottom: 35px;
    display: table;
    margin: 0 auto;
    color:#4a4a4a;
    font-family: "Roboto";   
}

.contact-form input {
    padding: 7px 0px;
}


#button-hold {
    text-align: center;
    padding: 14px 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.contact-form h2{
    text-align: center;
    font-size: 45px;
    font-family: "ostrich";
    color:#4a4a4a;
}

textarea {
    border: none;
    resize: vertical;
}

hr {
      max-width: 100px;
      border-color: #28a2ff;
      border-width: 3px;
      align:center;
}

#button-hold button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: transparent;
    width: 250px;
    border: 2px solid #302e2d;
    font-size:15px;
    font-weight: bold;
    padding: 10px 0px;
}

#button-hold button:hover {
    background-color: #302e2d; /* Green */
    color: white;
}

</style>

<script>
    $(function () {
      $(document).scroll(function () {
          var $nav = $(".navbar-fixed-top");
          $nav.toggleClass('scrolled', $(this).scrollTop() > 10);
        });
    });

    var message = "";

    $(".submit").on("click", function() {
        message = $("#horizontal-form").serialize();
        $.ajax({
            url: "http://formspree.io/danielnguyen44@gmail.com", 
            method: "POST",
            data: {message: message},
            dataType: "json"
        });
        alert('Thanks for the email, I\'ll be in touch promptly.');
        return false;
    });

</script>


