<meta charset="utf-8">
<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="personal wensite">
<meta name="author" content="Daniel Nguyen">

<!-- styles -->
<link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- <link href="/stylesheets/style.css" rel="stylesheet">
-->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet">

<script src="/lib/jquery/jquery.min.js"></script>

<!-- Need mroe Bootstrap features? Uncomment some lines below. -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<!--
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
-->  

<!-- icon links -->

<style>


.navbar-fixed-top.scrolled {
  background-color: #f7f6f2 !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-toggle {
    border-color:#aaaaaa; 
}

.navbar-fixed-top.scrolled .navbar-toggle .icon-bar {
    background-color: #aaaaaa;
}

.navbar-fixed-top.scrolled .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.navbar-fixed-top .navbar-right li:hover { 
    background-color:rgba(0, 0, 0, 0.5);
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-right li:hover { 
    background-color:rgba(0, 0, 0, 0.05);
    transition: background-color 200ms linear;
}

.navbar-fixed-top .navbar-toggle:focus, .navbar-fixed-top.scrolled .navbar-toggle:focus { 
    background-color:transparent;
}

.navbar-fixed-top.scrolled .navbar-toggle:focus { 
    outline: none; 
}

.navbar-fixed-top.scrolled .navbar-toggle:hover {
    background-color: #aaaaaa;
}

.navbar-fixed-top.scrolled .nav > li > a,.navbar-fixed-top.scrolled .navbar-header > a {
    color:black;
}

.navbar-fixed-top.scrolled .nav > li > a:hover,.navbar-fixed-top.scrolled .navbar-header > a:hover {
    color:#81a6c4;
}

.navbar-fixed-top.scrolled .nav > li > a:focus,.navbar-fixed-top.scrolled .navbar-header > a:focus {
    outline: none;
}


.navbar {
    background-color: rgba(0,0,0,0.25) ;    
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(249,248,239,.5);
    transition: background-color 200ms linear;
}

.navbar-brand { 
  font-size: 35px;
  font-weight: 600;
  font-family: 'Droid Serif', serif;
      color:  #d1d1d1;
    transition: color 200ms linear;
} 

.navbar-nav > li{

    font-size: 16px;
    font-weight: bold;
    

}
.navbar .nav > li > a,.navbar .navbar-header > a {
    color:  #d1d1d1;
    transition: color 200ms linear;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.text > .col-sm-4 > h2 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size:2.5vw;
  
}

body, html {
  height: 100%;
  font-family: 'Droid Serif', serif;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */

}


.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'Droid Serif', serif;
}


.cd-fixed-bg .h123 {
    position: absolute;
    left: 50%;
    top: 42%;
    bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg h2{
  font-weight: bold;
  font-size: 2vw;
}
  .cd-fixed-bg h1 {
    font-weight: bold;
    font-size: 6vw;
  }


.cd-fixed-bg.cd-bg-1 {
    background-image: url("/images/laptop.jpg");
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("/images/laptop2.jpg");
}
.cd-fixed-bg {
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    background-attachment: fixed;
}

@media only screen and (max-width: 480px) {
    .cd-fixed-bg {
      background-attachment: fixed;
    }
    
    .cd-container {
      /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */

      max-width: 460px;
      margin: 0 auto;
    }
    
    .cd-fixed-bg h1 {
      font-size: 48px;
      font-weight: bold;
    }
    
    .cd-fixed-bg h2 {
      font-size: 30px;
      font-weight: bold;
    }
}

@media only screen and (min-width: 768px) {
    .row {
        width: 90%;
        margin: 0 auto;
    }
}

.cd-scrolling-bg {
      position: relative;
      min-height: 50%;
      padding: 4em 0;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      z-index: 2;
      background-color: #f4f6f9;
}

.footer-text {
  padding-top: 25px;
  padding-bottom: 120px;
    background-color: #3f505e;
    text-align: center;
    z-index:3;
    font-size: 160%;
    color:#d3dce5;
}

.svg{
  fill: #d3dce5;

}



.col-sm-4 p{

    line-height: 1.8;
}


.links {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 55px;

}

.svg:hover {
  fill: white;
  position: relative;
  top: -10px;
  transition-duration:  300ms;
}


</style>




