



@font-face {
    font-family: ostrich;
    src: url("OstrichSans-Heavy.otf") format("opentype");
}

@font-face {
    font-family: hhh;
    src: url("HelveticaNeue.ttf") format("opentype");
}

@font-face {
    font-family: ostrichm;
    src: url("OstrichSans-Medium.otf") format("opentype");
}

.circular--landscape {
    position: relative;
}


.bigbio {
    position: relative;
    overflow: hidden;
    line-height: 1.8;
}

.bio h2 {
    font-family: "ostrichm";
    margin:0;
}
.bio p {
    font-family: "hhh";
    font-size: 1.2em;
    line-height: 2;
    font-weight: bold;
}
.bio a {
    color:#0fdbff;
}

.bio a:hover {
    color:#0fdbff;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}




body, html {
  height: 100%;
    margin: 0;

}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */


.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}


.cd-fixed-bg .h123 {
    position: absolute;
    left: 50%;
    top: 42%;
    bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: 'hhh';
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.h12 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: "ostrichm";

  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.phead{
    position: absolute;
    bottom: auto;
  right: auto;
  -webkit-transform: translateY(-110%);
  -moz-transform:  translateY(-110%);
  -ms-transform:  translateY(-110%);
  -o-transform: translateY(-110%);
  transform:  translateY(-110%);
  font-family: "ostrichm";
  z-index: 3;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/1080laptop.jpg");
    min-height: 100%;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.project-header{
    height: 30%;
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../images/code1.jpg");
    height:100%;
    width: 100%;
    font-weight: bold;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    filter: contrast(300%);
    filter: brightness(70%);
}

.cd-fixed-bg.quote {
    background-image: url("../images/rock.jpg");
    min-height: 85%;
    background-attachment: fixed;
    font-weight: bold;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}




 {
    font-weight: bold;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.cd-scrolling-bg.cd-color-4{
      position: relative;
      z-index: 2;
      background-color: #f0efef;
      margin: 0;
}


.cd-scrolling-bg.skills{
      position: relative;
      z-index: 6;
      background-color: white;

      text-align: center;
      background-color: rgba(0,0,1,0.05);
      padding: 50px 0;
}
.cd-scrolling-bg.skills h2{
      font-family: "cabin";
      font-weight: bold;

}

.cd-scrolling-bg.skills img{
    margin: 20px 10px;
    text-align: center;
}

.cd-scrolling-bg.skills #proficient{
    padding-left: 3px;
}




.cd-scrolling-bg.info{
      position: relative;
      z-index: 2;
      background-color: black;
      color: white;
}

.cd-scrolling-bg.info h2{
    font-family: 'ostrichm';
    text-align: center;
}

.cd-scrolling-bg.info a{
    font-family: 'hhh';
    font-weight: bold;
}


table {
    border-collapse: collapse;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    overflow-wrap: break-word;


}

table tr {
    background-color: rgba(255,255,255,0.1);
    overflow-wrap: break-word;
}


td {
    padding: 5px 0;
    text-align: center;
    overflow-wrap: break-word;
}


tr:nth-child(even) {
    background-color: rgba(255,255,255,0.3);
}

td a {
    color: white;
}

td a:hover {
    color: #0fdbff;
}

.cd-scrolling-bg.cd-color-2{
      position: relative;
      box-shadow: 0 -25px 50px rgba(0, 0, 0, 0.2);
      z-index: 2;
      margin: 0;
      background-color: black;
      color: white;
      padding-bottom: 100px;
}

.cd-scrolling-bg.cd-color-1{
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}



@media only screen and (max-width: 480px) {
    .cd-fixed-bg .h123 h2{
        font-weight: bold;
    font-size: 1.1em;
    }
    .cd-fixed-bg .h123 h1 {
        font-size:4em;

    }
    .cd-scrolling-bg.info{
          padding: 50px 15px;
    }

    #section02 {
        display: none !important;
    }

    .cd-scrolling-bg.info h2{
        font-size: 3.5em;
        margin: 0;
            padding: 0;
    }

    .cd-scrolling-bg.info table{
       width:100%;
    }
    td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
}


@media only screen and (min-width: 480px) {
    .cd-fixed-bg .h123 h2{
        font-weight: bold;
    font-size: 1.3em;
    }
    .cd-fixed-bg .h123 h1 {
        font-size: 4.5em;
    }
    .cd-scrolling-bg.info{
        padding: 100px 50px;
    }

    .cd-scrolling-bg.info h2{
            font-size: 5.5em;
             margin: 0;
            padding: 0;
        }
}

@media only screen and (max-width: 768px) {

    .navbar-brand , .navbar-fixed-top.scroll .navbar-brand{
    }

    .navbar-fixed-top .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.45);
    }

    .navbar-fixed-top.scrolled .navbar-collapse {
    background-color: #f7f6f2
    }


    .contact-form {

         width: 100% !important;
    }


    .circular--landscape {
        width: 100%;
        margin: 0 auto;
    }

    .circular--landscape img{
            text-align: center;
            width:50%;
            display : block;
            margin : 10px auto;
            margin-top: 30px;
    }

    #bio-wrap {
            margin: 0 20px;
            margin-top: 50px;

        }

    .bio {
        padding-top: 10px;
    }

    .bio h2 {
            font-size: 3.5em;
            text-align: center;
        }


    .footer-text {
        font-family: 'Cabin', sans-serif;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #303235;
        text-align: center;
        z-index:3;
        color:white;
        font-size: 100%;
    }

    .footer-text p{

        padding-top: 30px;
    }

    .cd-scrolling-bg.skills h2{
              font-size: 2em;
        }

    .cd-fixed-bg .h12 h1, .phead h1 {
            font-size: 3.7em;
        }


}

@media only screen and (min-width: 768px) {

        .cd-fixed-bg .h123 h2{
            word-spacing: 0.2em;
            font-weight: bold;
            font-size: 1.5em;
        }

        .cd-fixed-bg .h123 h1{
            font-size: 7em;
        }

        .cd-fixed-bg .h12 h1, .phead h1{
            font-size: 5em;
        }


        .circular--landscape img{
            margin-top: 5px;
            margin-right: 30px;
            max-width: 400px;

            float:left;
        }


        #bio-wrap {
            margin: 0 50px;
            margin-top: 100px;

        }

        .bio {
            text-align: left;
        }

        .bio h2 {
            font-size: 5.5em;
        }

        .footer-links {
            float:left;
        }

        .footer-text {
            font-family: 'Cabin', sans-serif;
            overflow: hidden;
            background-color: #303235;
            text-align: center;
            z-index:3;
            color:white;
            font-size: 100%;
            padding: 0 30px;
            padding-top: 20px;
            padding-bottom: 15px;
        }

        .footer-text p{
            text-align: right;
            padding-top: 5px;
        }

        .container > div {
            float: left;
            width: 33.33%;
            line-height: 1.8;
        }

        .cd-scrolling-bg.skills h2{
              font-size: 2.8em;
        }


}

@media (max-width: 1000px) { /*breakpoint*/
    .container > div {
        float: none;
        width: 100%;
        line-height: 1.8;
    }

}


/* ------------- mantras and footer ------------  */

 svg{
  fill: rgba(255,255,255,0.8);
  transition: all 0.3s ease;

}

.heart {
    fill: #28a2ff;
}


.links svg:hover, .footer-links svg:hover {
    fill: #28a2ff;
    position: relative;
    transform: translate(0px, -5px);

}

a:hover{
      text-decoration: none;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;

    width:90%;
}

.container h2 {
    font-size: 2em;
    font-weight: bold;
    color:#4a4a4a;

}

.container p {
    color:#4a4a4a;

}

.container:after { /*clear float*/
    content: "";

    display: table;
    clear: both;
}


.container .header {
    color:#4a4a4a;
}

.container p{
    padding: 0px 7px;
}






/* ------------- scroll button------------  */

#section02  {
    position: absolute;
    left: 50%;
    top: 82%;

}



#section02:hover button {
    transform: translate(0px, -5px);
    background-color: transparent;
    border: 2px solid transparent;
}


#section02 button {
    position: absolute;
    transition: all 400ms ease;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    box-sizing: border-box;
}
#section02 button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 20px;
    height: 20px;
    margin: -15px 0 0 -10px;
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
