.navbar-fixed-top.scrolled {
  background-color: #f7f6f2 !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  max-width:100%;
  transition: all 400ms ease;
}

.navbar-fixed-top.scrolled .navbar-toggle {
    border-color:#aaaaaa; 
}

.navbar-fixed-top.scrolled .navbar-toggle .icon-bar {
    background-color: #aaaaaa;
}

.navbar-fixed-top.scrolled .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.navbar-fixed-top .navbar-right li:hover { 
    background-color:rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
}

.navbar-fixed-top.scrolled .navbar-right li:hover { 
    background-color:rgba(0, 0, 0, 0.07);

}

.navbar-fixed-top .navbar-toggle:focus, .navbar-fixed-top.scrolled .navbar-toggle:focus, .navbar-fixed-top .navbar-toggle:hover { 
    background-color:transparent;
    
}



.navbar-fixed-top.scrolled .navbar-toggle:hover {
    background-color: #aaaaaa;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav > li > a,.navbar-fixed-top.scrolled .navbar-header > a{
    color:black;
}


.navbar-fixed-top.scrolled .nav > li > a:hover,.navbar-fixed-top.scrolled .navbar-header > a:hover {
    border-bottom-color: #439348;
    color:#28a2ff;
    transition: all 200ms linear;
}

.navbar-fixed-top.scrolled .nav > li > a:focus,.navbar-fixed-top.scrolled .navbar-header > a:focus {
    outline: none;

}

.navbar-fixed-top .nav > li > a:focus,.navbar-fixed-top .navbar-header > a:focus {
    outline: none;

}



.navbar-fixed-top .navbar-brand:hover {
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
}

.navbar-fixed-top.scrolled .navbar-brand {
    font-size: 3em;
    color:white;
    transition: all 0.4s ease;
}



.navbar-fixed-top .navbar-collapse {
    background-color: transparent;
    border: 0;
    transition: all 0.4s ease;
}


.navbar {
    background-color: transparent;  
    font-family: "ostrich";
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
    border: 0;

    margin: 0 auto;
    max-width:95%;
    transition: all 0.4s ease;
}


.navbar-brand { 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 4em;
    color:  #d1d1d1;
    margin: auto 0;
    transition: all 0.4s ease;
} 

@media only screen and (max-width: 480px) {
      .navbar-brand { 
            font-size: 2.5em;
          -webkit-transform: translateY(4px);
          -moz-transform:  translateY(4px);
          -ms-transform:  translateY(4px);
          -o-transform: translateY(4px);
            transform: translateY(4px);
      }
      .navbar-fixed-top.scrolled .navbar-brand { 
        font-size: 2.5em;
        -webkit-transform: translateY(4px);
        -moz-transform:  translateY(4px);
        -ms-transform:  translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }
}

@media only screen and (min-width: 480px) {
      .navbar-brand { 

          -webkit-transform: translateY(10px);
          -moz-transform:  translateY(10px);
          -ms-transform:  translateY(10px);
          -o-transform: translateY(10px);
            transform: translateY(10px);
      }
      .navbar-fixed-top.scrolled .navbar-brand { 
        -webkit-transform: translateY(5px);
        -moz-transform:  translateY(5px);
        -ms-transform:  translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
    }
}



.navbar-nav > li{

    font-size: 1.4em;
    

}
.navbar .nav > li > a,.navbar .navbar-header > a {
    color:  #f0efef;

}



.modal-header {

  line-height: 0;
  text-align: center;
}


.modal-header  h2{
  font-family: "ostrich";

}

.modal-body {
  padding-top: 0;
}

.modal-content  {
    background-color: #e0e0e0;
    color:#4a4a4a;
}

/* ------------- contact form ------------  */

.modal-body input , .modal-body textarea{
    width:70%;
    border: 0;
    padding-left: 10px;
    padding-left: 10px;
}

 .modal-body .contact-form {
    text-align: center;
    width: 100%;
    display: table;
    margin: 0 auto;
    color:#4a4a4a;
    font-family: 'Cabin', sans-serif;  
}

.contact-form input {
    padding: 7px 10px;
}


#button-hold {

    padding: 10px 0px;
        font-size: 25px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 2px solid black;
}



textarea {
    border: none;
    resize: vertical;
}


#button-hold button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: transparent;
    width: 80px;
    border: 3px solid #302e2d;
    font-size:15px;
    font-weight: bold;
    padding: 5px 0px;
}

#button-hold button:hover {
    background-color: #302e2d; 
    color: white;
    
}
