a@font-face {
    font-family: hhh;
    src: url("HelveticaNeue.ttf") format("opentype");
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  
}

.grid-container-js{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.grid-item > a >img {
  
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.grid-item {
    width: 100%;
    padding: 40px 40px;
}

h2 {
    padding: 5px auto;
    
}

#js_project {
  text-align: center;
  font-size: 30pt;
}

p {
    font-family: 'PT Mono', monospace;
    font-size: 1em;
    line-height: 1.6;

}

@media (max-width: 900px) { /*breakpoint*/
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      
    }

}
.footer-text {
  margin-top: 50px;
}
button {
    display: inline;
}