#tab-wrap {
    margin: 100px 20px;
    font-family: "cabin";
}

#inner-wrap {
  min-width: 320px;
  max-width: 1000px;
  
  margin: 0 auto;
  background: white;
}

@media screen and (max-width: 768px) {
  #inner-wrap label {
    padding: 10px 15px;
    font-size: .7em;
  }
  
}


@media screen and (min-width: 768px) {
  #inner-wrap label {
    padding: 20px 25px;
    }
    
  #inner-wrap section  {

    min-height: 500px;
  }
  
}


section {
    display: none;
    padding: 50px 30px;
    border: 1px solid #ddd;
}

section p{
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#inner-wrap input {
  display: none;
}

#inner-wrap label {
  display: inline-block;
  margin: 0 -3px -1px 0;
  font-weight: bold;
  text-align: center;
  color: #bbb;
  border: 1px solid rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.05);
}




#inner-wrap label:hover {
  color: #888;
  cursor: pointer;
}

#inner-wrap input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #28a2ff;;
  border-bottom: 1px solid #fff;
  background-color: rgba(255,255,255,0.7);
}



#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



