@font-face {
    font-family: gothaml;
    src: url("GothamLightRegular.otf") format("opentype");
}

@font-face {
    font-family: gothamm;
    src: url("GothamMediumRegular.ttf") format("opentype");
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




body, html {
  height: 100%;
    margin: 0;

}

a img {
	width: 30px;
	height: auto;
}

.navbar {
	max-width: 80%;
	margin: 0 auto;
    background-color: transparent;  
    font-family: "gothamm";
    border: none;
}

.navbar-fixed-top .nav > li > a {
    color:white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    font-weight: normal;
}

.phead {
	top: 25%;
  position: relative;
  z-index: 3;
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  color: white;
  font-family: "gothaml";
}
.phead h1 {
	font-size: 3em;
}

.project-header{
    height: 100%;
}

.fixed-bg {
    background-image: url("./pexels-photo-306534.jpeg");
    height:100%;
    width: 100%;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;

    

}